{% extends "base.ouds" %}

{% load i18n %}

{% block title %} {% trans '会员签入' %} {% endblock %}

{% block body_id %}sign_in{% endblock %}

{% block content %}

<form method="post">
    <table align="center">
        <caption><h1> {% trans '会员签入' %} </h1></caption>
        <tr>
            <td align="center" colspan="2">
                <strong><font color="red">{% trans '请确认已经通过注册邮箱激活帐号' %}</font></strong>
            </td>
        </tr>
        {{ sign_in_form }}
        <tr>
            <td></td>
            <td align="center">
                <input type="submit" value="{% trans '签入' %}" />
                <input type="button" value="{% trans '忘记密码' %}" onclick="history.go(-1)" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="center"><a href="../register">{% trans '注册一个新帐户' %}</a></td>
        </tr>
    </table>
</form>

{% endblock %}

