git+https://github.com/channelcat/sanic
git+https://github.com/pallets/jinja
git+https://github.com/mongodb/motor
selenium

# extends
pyspark
numpy
scipy
matplotlib
ipython
pandas
sympy
nose
scikit-learn
scikit-image
