{% extends "base.html" %}

{% block title %}《{{ book.title }}》{% endblock %}
{% block style %}<link href="/static/css/search.css" rel="stylesheet">{% endblock %}

{% block container %}
<div class="container">
	{% include "books/seek-form.html" %}
	
	<div class="list-group">
		<h5 class="list-group-item list-group-item-info">
			<strong>《{{ book.title }}》</strong>
			<a class="float-right small" href="/books/original">返回 &raquo;</a>
		</h5>
		<p class="list-group-item list-group-item-action">
			{{ book.summary|safe }}
		</p>
		<strong class="list-group-item list-group-item-warning">来源</strong>
		
		{% for site in book.sites %}
		<div class="list-group-item list-group-item-action">
			{% if site.is_parsed %}<span class="badge badge-success">已解析</span>
			{% else %}<span class="badge badge-dark">未解析</span>
			{% endif %}&nbsp;
			<a class="d-inline-block" href="{{ site.contents_url }}" target="_blank">
				全书目录<<span class="alert-danger">除广告</span>>
			</a>&nbsp;
			<a class="d-inline-block" href="{{ site.latest_url }}" target="_blank">
				最新章节：{{ site.latest_section }}<<span class="alert-danger">除广告</span>>
			</a>&nbsp;
			<a class="d-inline-block" href="{{ site.url }}" target="_blank">{{ site.name }}源网址</a>
		</div>
		{% endfor %}
		
	</div>
	
</div>
{% endblock %}
