{% load i18n read %}

<table width="100%" align="center">
    <tr align="center">
        <td><a href="http://salon.ouds.us" target="_blank">{% trans '文明沙龙' %}</a></td>
        <td><a href="/admin/member/bug" target="_blank">{% trans '缺陷提交' %}</a></td>
        <td><a href="/map">{% trans '文明地图' %}</a></td>
    </tr>
</table>

<hr/>

{# 军事信息 #}
<div class="red">
    <a href="/military">{% trans '军事' %}</a>:&nbsp;{% trans '本城' %}{{ city.status|tuple_filter:'CITY_STATUS' }}
</div>

<hr/>

<table width="100%" align="center">
    <tr align="center">
        <td><a href="/member/helper/bulletin" target="_blank">{% trans '重要公示' %}</a></td>
        <td><a href="/member/helper" target="_blank">{% trans '帮助说明' %}</a></td>
        <td><a href="/member/sign_out">{% trans '安全签出' %}</a></td>
    </tr>
</table>


