{% load base %}

<div class="wdiv">
	<ul>
		<li id="{% if module %}{{ module }}{% else %}comment{% endif %}-0" class="on" onmouseover="hover('{% if module %}{{ module }}{% else %}comment{% endif %}','0','3')">最新主题</li>
		<li id="{% if module %}{{ module }}{% else %}comment{% endif %}-1" onmouseover="hover('{% if module %}{{ module }}{% else %}comment{% endif %}','1','3')">最热讨论</li>
		<li id="{% if module %}{{ module }}{% else %}comment{% endif %}-2" onmouseover="hover('{% if module %}{{ module }}{% else %}comment{% endif %}','2','3')">{% if module %}热门标签{% else %}宝宝热秀{% endif %}</li>
	</ul>
</div>

{% if module != 'mall' %}
	<div id="{% if module %}{{ module }}{% else %}comment{% endif %}-0-panel">
		{% for topic in latest_topics %}
		    <div class="{% if not module %}ctdiv{% else %}{% if narrow_tdiv %}trdiv{% else %}tdiv{% endif %}{% endif %}">
		        [<span class="ca"><a href={{ topic.catalog.get_absolute_url }}>{{ topic.catalog.name }}</a></span>]
		        <a href={{ topic.get_absolute_url }} target="_blank">
		        	{% if module != '' %}
		        		{{ topic.title|slice:":36" }}
		        	{% else %}
		        		{{ topic.title|slice:":28" }}
		        	{% endif %}
		        </a>
		    </div>
		{% endfor %}
	</div>
	<div id="{% if module %}{{ module }}{% else %}comment{% endif %}-1-panel" class="hidden">
		{% for topic in popular_topics %}
		    <div class="{% if not module %}ctdiv{% else %}{% if narrow_tdiv %}trdiv{% else %}tdiv{% endif %}{% endif %}">
		        [<span class="ca"><a href={{ topic.catalog.get_absolute_url }}>{{ topic.catalog.name }}</a></span>]
		        <a href={{ topic.get_absolute_url }} target="_blank">
		        	{% if module != '' %}
		        		{{ topic.title|slice:":36" }}
		        	{% else %}
		        		{{ topic.title|slice:":28" }}
		        	{% endif %}
		        </a>
		    </div>
		{% endfor %}
	</div>
	<div id="{% if module %}{{ module }}{% else %}comment{% endif %}-2-panel" class="hidden">
		{% if not module %}
			<br/><br/><br/><br/>宝宝热秀正在开发中……
		{% else %}
			{% tags module little_module %}
		{% endif %}
	</div>
{% else %}
	<div id="{{ module }}-0-panel">
		{% for topic in latest_topics %}
		    <div class="mdiv">
			    <a href={{ topic.get_absolute_url }} target="_blank">
			    	<img src="/media/{% if topic.icon %}{{ topic.icon }}{% else %}imgs/ouds.gif{% endif %}" class="mrimg" alt="{{ topic.title }}" title="{{ topic.title }}"><br/>
			    	{{ topic.title|slice:":8" }}<br/>
			    	{{ topic.description|slice:":8" }}
			    </a>
		    </div>
		{% endfor %}
	</div>
	<div id="{{ module }}-1-panel" class="hidden">
		{% for topic in popular_topics %}
		    <div class="mdiv">
			    <a href={{ topic.get_absolute_url }} target="_blank">
			    	<img src="/media/{% if topic.icon %}{{ topic.icon }}{% else %}imgs/ouds.gif{% endif %}" class="mrimg" alt="{{ topic.title }}" title="{{ topic.title }}"><br/>
			    	{{ topic.title|slice:":8" }}<br/>
			    	{{ topic.description|slice:":8" }}
			    </a>
		    </div>
		{% endfor %}
	</div>
	<div id="{{ module }}-2-panel" class="hidden">
		{% tags module little_module %}
	</div>
{% endif %}