{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a> &rsaquo; {% trans "Server error" %}</div>{% endblock %}
<hr/>
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<hr/>
<a href="/"><img src="/media/imgs/error.gif" /></a>
<hr/>
{% trans "出现此错误页面可能是因为以下几点：" %}
<ol>
	<li>{% trans "非法操作" %}</li>
	<li>{% trans "服务器异常" %}</li>
	<li>{% trans "系统缺陷" %}</li>
</ol>
<hr/>
{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}
<hr/>
<a href="mailto:webmaster@DingDongQuan.com?subject={% trans 'hi, DingDongQuan.com' %}" target="_blank">缺陷提交</a>
<hr/>
<a href="/">返回首页</a>