<footer class="footer">
    <hr>
    <div class="container">
        <div class="small text-muted">
            <strong>budshome.com</strong>
            是小说搜索和文学大数据引擎，提供且仅提供网络搜索引擎的小说检索结果。本站只负责展示检索结果，内容及展示操作等与本站无关。<br>
            <strong>budshome.com</strong>
            所有产品设计 (包括图形设计、配色、页面展示形式等)均已受版权和产权保护，请勿以任何方式复制。
        </div>
        <small><strong>
            &copy;2017&nbsp;budshome.com
            &nbsp;&nbsp;蜀ICP备17001556号-3
        </strong></small>
    </div>
</footer>


