{% extends "base.html" %}

{% load i18n base read %}

{% block body_id %}home{% endblock %}

{% block topics %}

	<div id="mall_topics">
		<h3><a href="/mall">{% trans '叮咚商城' %}</a></h3><hr />
		{% topics 'mall' '' '' 9 %}
	</div>
        
        <div class="m_topics">
            <h3><a href="http://thinker.cc" target="_blank">文明【古代卷】即将上线，敬请期待！</a></h3><hr />
            <!-- 广告预留 -->
            <script type="text/javascript">/*360*300，创建于2010-12-9*/ var cpro_id = 'u308176';</script><script src="http://cpro.baidu.com/cpro/ui/c.js" type="text/javascript"></script>
            <!-- a href="http://thinker.cc" target="_blank"><img src="/media/imgs/ad/civ.gif" alt="文明【古代卷】" title="文明【古代卷】" /></a -->
        </div>

	<div class="m_topics">
		<h3><a href="/health">{% trans '美容养生' %}</a></h3><hr />
		{% topics 'health' '' '' %}
	</div>

	<div class="m_topics">
		<h3><a href="/fashion">{% trans '时尚资讯' %}</a></h3><hr />
		{% topics 'fashion' '' '' %}
	</div>

	<div class="m_topics">
		<h3><a href="/diet">{% trans '日常饮食' %}</a></h3><hr />
		{% topics 'diet' '' '' %}
	</div>

	<div class="m_topics">
		<h3><a href="/she-he">{% trans '她和他' %}</a></h3><hr />
		{% topics 'she-he' '' '' %}
	</div>
	
	<div class="m_topics">
		<h3><a href="/pregnant">{% trans '孕期父母' %}</a></h3><hr />
		{% topics 'pregnant' '' '' %}
	</div>
	
	<div class="m_topics">
		<h3><a href="/baby">{% trans '婴幼养育' %}</a></h3><hr />
		{% topics 'baby' '' '' %}
	</div>
	
	<div class="m_topics">
		<h3><a href="/children">{% trans '儿童少年' %}</a></h3><hr />
		{% topics 'children' '' '' %}
	</div>
	
	<div class="m_topics">
		<h3><a href="/young">{% trans '中青年保健' %}</a></h3><hr />
		{% topics 'young' '' '' %}
	</div>

	<div class="m_topics">
		<h3><a href="/elder">{% trans '老人社区' %}</a></h3><hr />
		{% topics 'elder' '' '' %}
	</div>

{% endblock %}

