{% extends "member/my_zone.ouds" %}

{% load i18n base read %}

{% block title %} {% trans '发表文章'|capfirst %} {% endblock %}

{% block body_id %}my_zone{% endblock %}

{% block content_area %}

<div id="content_area">

	<form enctype="multipart/form-data" method="post">
		<table align="center">
	        <caption><h1> {% trans '增加' %} {% trans '文章章节' %} </h1></caption>
			{{ entry_form }}
	        <tr>
	            <td></td>
	            <td align="center">
	                <input type="submit" value="{% trans '发表' %}" />
	                <input type="button" value="{% trans '取消' %}" onclick="history.go(-1)" />
	            </td>
	        </tr>
		</table>
	</form>

</div>

{% endblock %}<!-- END #content -->
