{% extends "article/module.html" %}

{% load i18n base read %}

{% block keywords %}{% if tag %}{{ tag }}, {% endif %}{{ catalog }}, {% trans module|tuple_filter:'MODULE' %}, {% endblock %}

{% block title %}{% if tag %}{{ tag }} {% endif %}{{ catalog }} {% trans module|tuple_filter:'MODULE' %} {% endblock %}

{% block body_id %}{{ module }}{% endblock %}

{% block content %}

	<div id="topics">
		{% block topics %} {% topics module catalog tag 100 0 %} {% endblock %}
	</div>
	{% block recommend %} {% recommend module %} {% endblock %}

{% endblock %}